<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-white ">Mantenimientos de Usuario</h5>
<form [formGroup]="formUsuario" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <label for="idDepartamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Departamento:</label>
    <select formControlName="idDepartamento" class="form-control form-select form-select-lg mb-6">
      <option [ngValue]="null">Seleccione un departamento</option>
      <option *ngFor="let departamento of listDepartamentos" [ngValue]="departamento.idDepartamento">
        {{ departamento.nombreDepartamento }}
      </option>
    </select>
    @if (formUsuario.get('idDepartamento')?.hasError('required') && formUsuario.get('idDepartamento')?.touched) {
    <div class="form-error">El departamento es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="idCargo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargo:</label>
    <select formControlName="idCargo" class="form-control form-select form-select-lg mb-6">
      <option [ngValue]="null">Seleccione un cargo</option>
      <option *ngFor="let cargo of listCargos" [ngValue]="cargo.idCargo">{{ cargo.nombreCargo }}</option>
    </select>
    @if (formUsuario.get('idCargo')?.hasError('required') && formUsuario.get('idCargo')?.touched) {
    <div class="form-error">El cargo es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="nombreUsuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario:</label>
    <input type="text" id="nombreUsuario" class="form-control" formControlName="nombreUsuario">
    @if (formUsuario.get('nombreUsuario')?.hasError('required') && formUsuario.get('nombreUsuario')?.touched) {
    <div class="form-error">El nombre del usuario es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="primerNombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primer Nombre:</label>
    <input type="text" id="primerNombre" class="form-control" formControlName="primerNombre">
    @if (formUsuario.get('primerNombre')?.hasError('required') && formUsuario.get('primerNombre')?.touched) {
    <div class="form-error">El primer nombre es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="segundoNombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Segundo Nombre:</label>
    <input type="text" id="segundoNombre" class="form-control" formControlName="segundoNombre">
    @if (formUsuario.get('segundoNombre')?.hasError('required') && formUsuario.get('segundoNombre')?.touched) {
    <div class="form-error">El segundo nombre es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="primerApellido" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primer Apellido:</label>
    <input type="text" id="primerApellido" class="form-control" formControlName="primerApellido">
    @if (formUsuario.get('primerApellido')?.hasError('required') && formUsuario.get('primerApellido')?.touched) {
    <div class="form-error">El primer apellido es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="segundoApellido" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Segundo Apellido:</label>
    <input type="text" id="segundoApellido" class="form-control" formControlName="segundoApellido">
    @if (formUsuario.get('segundoApellido')?.hasError('required') && formUsuario.get('segundoApellido')?.touched) {
    <div class="form-error">El segundo apellido es requerido</div>
    }
  </div>
  <div class="flex justify-end items-center mb-6">
    <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-small px-3 py-2 text-center mb-2">Guardar</button>
    <button type="button" (click)="onClose()"
    class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-small px-3 py-2 text-center mb-2">Cancelar</button>
  </div>
</form>