<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-white ">Mantenimientos de Departamento</h5>
<form [formGroup]="formDepartamento" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <input type="hidden" id="idDepartamento" class="form-control" formControlName="idDepartamento">
  </div>
  <div class="mb-5">
    <label for="codigoDepartamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código Departamento:</label>
    <input type="text" id="codigoDepartamento" class="form-control" formControlName="codigoDepartamento">
    @if (formDepartamento.get('codigoDepartamento')?.hasError('required') && formDepartamento.get('codigoDepartamento')?.touched) {
    <div class="form-error">El codigo del departamento es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="nombreDepartamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Departamento:</label>
    <input type="text" id="nombreDepartamento" class="form-control" formControlName="nombreDepartamento">
    @if (formDepartamento.get('nombreDepartamento')?.hasError('required') && formDepartamento.get('nombreDepartamento')?.touched) {
    <div class="form-error">El nombre del departamento es requerido</div>
    }
  </div>
  <div class="mb-5">
    <label for="activo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Activo:</label>
    <input type="checkbox" id="activo" class="form-control" formControlName="activo">
  </div>
  <div class="mb-5">
    <input type="hidden" id="idUsuarioCreacion" class="form-control" formControlName="idUsuarioCreacion">
  </div>
  <div class="flex justify-end items-center mb-6">
    <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-small px-3 py-2 text-center mb-2">Guardar</button>
    <button type="button" (click)="onClose()"
    class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-small px-3 py-2 text-center mb-2">Cancelar</button>
  </div>
</form>